.bodybg{
    background-image: url(./green-grass-background-2036900.jpg);
    background-repeat: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}